
body{
	
	background-image: url(https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}
.grid-container{
	max-width: 960px;
	display: grid;
	padding: 20px;
	border-radius: 50px;
	margin: auto;
}


.grid-item{
	margin: 20px;
}

.grid-container .footer{
	margin-bottom: 0px;
	padding-bottom: 0px: 
}