

.funfact{
	margin: 0 auto;
	background-color: #323233;
	min-height: 200px;
	min-width: 150px;
	width: 150px;
	padding: 20px;
	text-align: center;
	color: #d5d5d5;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #323232;
}
.container-fun{
	display: flex;
	justify-content: space-around;

}
.funfact{
	opacity: 0.6;
	transition: all 0.5s ease-out;
}
.funfact .funfact-icon{
	background-color: #323232;
	color: #007ced;
	font-size: 40px;
	
}
.funfact:hover{
	opacity: 1;
}
.funfact .iconify{
	background-color: #323232;

}

.funfact .funfact-text{
	background-color: #323232;
	text-transform: capitalize;
	padding-bottom: 10px;
}

.funfact .funfact-numb{
	background-color: #323232;
	text-transform: capitalize;
	font-size: 25px;
}

.funfact-reponsive{
	margin: 10px 0px 0px 0px;
}
