
.title{
	width: auto;
	text-transform: capitalize;
	font-size: 20px;
	color: #d5d5d5;
	margin-bottom: 20px;
	transition: all 0.5s;
	border-bottom: 1px solid #007ced;
	padding-bottom: 10px;
	transition:all 0.5s ;
}

.title:hover {
	color: #007ced;
}
.container-job{
	display: flex;
	margin-bottom: 20px;
}
.content-job{
	display: flex;
	color: #d5d5d5;
}

.content-job .text{
	padding-right: 20px;
	line-height: 25px;
}
.content-job .mini-title{
	font-size: 20px;
	font-weight: bold;
}

.content-job p{
	font-size: 14px;
	font-family: Poppins, Helvetica, Arial
}
.content-job .icon{
	font-size: 30px;
	color: #007ced;
	margin-right: 20px;
}
